
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
.contentReloj {
    background-color: #3B3B3B;
    padding: 30px;
    max-width: 250px;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #CEFF33;
}